.task-wrapper {
    padding: 10px 24px;
    background: #fff;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    color: #333;
    font-size: 14px;
    line-height: 1.42857143;
    margin-top: -1px;

    cursor: pointer;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    display: block;
    display: flex;

    user-select: none;
}
.task-wrapper:hover,
.task-wrapper--active {
  background: rgba(0,0,0,0.09);
}

.estimate__value {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 2em;
  color: rgba(51, 51, 51, 0.8);
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  line-height: 0.99;
  margin: 0;
  min-height: 1em;
  min-width: 1em;
  padding: 3px 5px 3px 5px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
}

.task-wrapper__estimate {
    display: inline-block;
    min-width: 68px;
    text-align: right;
}
.task-wrapper__progress {
    display: inline-block;
    min-width: 97px;
}

.task-wrapper__name {
    width: calc(100% - 68px - 97px);
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.task-wrapper__name--comleted {
  text-decoration: line-through;
}
