.background-boss {
  transition:  visibility .2s;
  transition-delay: .1s;
  /*visibility: hidden;*/
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.taskpopup {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40vh;
    margin-left: -30vw;
    width: 60vw;
    background: #ffffff;
    border-radius: 2px;
    z-index: 10;
    color: rgba(0, 0, 0, 0.870588);
    box-shadow: rgba(0, 0, 0, 0.247059) 0px 14px 45px, rgba(0, 0, 0, 0.219608) 0px 10px 18px;
}

.taskpopup__body {
  padding: 24px;
  overflow-y: auto;
}

.taskpopup__header, .taskpopup__footer {
  margin: 0;
  overflow: hidden;
}

.taskpopup__header {
    border-bottom: 1px solid rgb(224, 224, 224);
    height: 75px;
}
.taskpopup__header h3 {
    padding: 24px 24px 20px;
    color: rgba(0, 0, 0, 0.870588);
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    margin: 0;
    user-select: none;
    cursor: default;
}

.taskpopup__footer {
  border-top: 1px solid rgb(224, 224, 224);
  height: 53px;
  padding: 8px;
  text-align: right;
}

.taskform__item {
  margin: 20px 0;
}

.taskform__item label {
    color: #707070;
    min-width: 160px;
    display: inline-block;
    text-align: right;
    padding: 0 10px;
    vertical-align: baseline;
    user-select: none;
}
.taskform__item.taskform__description label {
    vertical-align: top;
    margin-top: 6px;
}

.taskform__item input, .taskform__item textarea {
  width: 50%;
}

.taskform__item textarea {
  height: 15em;
}
