.list-wrapper {
  height: calc(100vh - 48px);
}

.list-wrapper:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.list-wrapper__tasks {
  border: 1px solid #ccc;
  width: 50%;
  float: left;
  height: inherit;
  overflow-y: auto;
  padding: 20px;
}

.list-wrapper__tasks--list {
    padding: 0;
}

.list-wrapper__tasks--description {

}

.taskOnDescription__name {

}

.estimates__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    margin-right: 24px;
}
.estimates {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 0;
}
.estimates:first-child {
    margin-left: 0;
}

.taskOnDescription__estimate-label {
  color: #707070;
}

.taskOnDescription__description {
  text-align: justify;
}

.header-wrapper {
    height: 48px;
    padding: 0;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #1565c0;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    display: flex;
    user-select: none;
}
.header-wrapper__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px;
    margin-right: 24px;
    padding-top: 0px;
    letter-spacing: 0px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    line-height: 48px;
    cursor: default;
}
.header-wrapper_btn-create {
    display: flex;
    align-items: center;
}
