/* Reset */
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Box-sizing border-box */
* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

.sd-btn {
    border: 0;
    display: inline-block;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    text-decoration: none;
    margin: 0;
    padding: 0px;
    outline: none;
    min-width: 88px;
    height: 36px;
    line-height: 36px;
    border-radius: 2px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    background-color: rgb(255, 255, 255);

    font-size: 14px;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-weight: 700;
    user-select: none;
    padding-left: 16px;
    padding-right: 16px;
    color: rgba(0, 0, 0, 0.870588);
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px,
                rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}
.sd-btn:hover {
    background-color: #ebebeb;
}
.sd-btn:active {
    box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px,
                rgba(0, 0, 0, 0.227451) 0px 3px 10px;
    color: rgba(0, 0, 0, 0.8)
}
.sd-btn_flat {
    background: none;
    box-shadow: none;
}
.sd-btn_flat:hover {
    background-color: rgba(153, 153, 153, 0.2);
}
.sd-btn_flat:active {
    background-color: #d3d3d3;
    box-shadow: none;
}

.sd-btn__primary {
    color: #fff;
    background: rgb(0, 188, 212);
}
.sd-btn__primary:hover {
     background: #66d7e6;
}
.sd-btn__primary:active {
    color: #fff;
    background: #7eddea;
}

.sd-btn__danger {
    color: #fff;
    background-color: #ff4081;
}
.sd-btn__danger:hover {
    background-color: #ff8db4;
}
.sd-btn__danger:active {
    color: #FFF;
    background-color: #ff8db4;
}

.sd-btn__warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}


/* input, select styles */
input[type="text"],
input[type="number"],
select,
textarea {
    border: 2px solid #e0e0e0;
    border-radius: 3px;
    outline: none;
    color: #8f8f8f;
    transition: .3s;
    font-size: 15px;
}
input[type="text"],
input[type="number"],
select {
    height: 36px;
    padding: 0 10px;
}
textarea {
    padding: 5px 10px;
    resize: none;
}
input[type="text"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus {
    border-color: rgb(0, 188, 212);
    color: #222;
}
