.progress-state {
    border-radius: 3px;
    color: rgba(0,0,0,.87);
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    line-height: 1.3;
    padding: 3px 8px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    cursor: default;
}

.progress-state--inProgress {
    background-color: #FFEB3B;
}

.progress-state--completed {
    background-color: #43A047;
    color: #fff;
}

.progress-state--planned {
    background-color: #00BCD4;
    color: #fff;
}
